body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background: #333;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}

.navbar a:hover {
  background: #555;
  border-radius: 5px;
}


.coating {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coating h1 {
  color: white;
  font-size: 50px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}


.cta {
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta h2 {
  color: white;
  font-size: 40px;
}

.btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: #ff6600;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background: #e65c00;
}


footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.product-box {
  background: #f9f9f9;
  padding: 20px;
  margin: 20px;
  width: 320px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.product-box img {
  width: 200px;
  height: 150px;
  margin-bottom: 15px;
  object-fit: cover;
}

.product-box:hover {
  transform: translateY (-18px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
}


.coating .overlay {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 800px;
}

.coating .overlay h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.coating .overlay p {
  font-size: 18px;
  line-height: 1.6;
}

.infos {
  background: #eee;
  padding: 40px;
  text-align: center;
}

.info {
  margin: 20px auto;
  max-width: 600px;
  font-style: italic;
}

.info h4 {
  margin-top: 10px;
  font-weight: normal;
}

.contact-box {
  max-width: 500px;
  margin: 50px auto;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.profile-img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.social-links img {
  width: 40px;
  margin: 10px;
}

.social-links a:hover img {
  opacity: 0.7;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

form button:hover {
  background: #555;
}

.form1 {
  width: 420px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
}

.form1 label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

.chatbox {
  width: 300px;
  margin: 50px auto;
  border: 1px solid #ccc;
  background: white;
  padding: 10px;
}

.chat-window {
  height: 200px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 5px;
  overflow-y: auto;
  text-align: left;
}

.input-area {
  display: flex;
}

.input-area input {
  flex: 1;
  padding: 5px;
}

.input-area button {
  padding: 5px 10px;
  background: blue;
  color: white;
  border: none;
}